# Graphios config file

[graphios]

#------------------------------------------------------------------------------
# Global Details (you need these!)
#------------------------------------------------------------------------------

# Character to use as replacement for invalid characters in metric names
replacement_character = _

# nagios spool directory
spool_directory = /var/spool/graphios/

# graphios log info
log_file = /var/log/nagios/graphios.log

# max log size (it will rotate the files) default: 24 MB
log_max_size = 25165824

# DEBUG is quite verbose
#log_level = logging.DEBUG
log_level = logging.INFO

# Disable this once you get it working.
debug = True

# How long to sleep between processing the spool directory
sleep_time = 15

# when we can't connect to carbon, the sleeptime is doubled until we hit max
sleep_max = 480

# test mode makes it so we print what we would add to carbon, and not delete
# any files from the spool directory. log_level must be DEBUG as well.
test_mode = False

# use service description, most people will NOT want this, read documentation!
use_service_desc = False

# replace "." in nagios hostnames? (so "my.host.name" becomes "my_host_name")
# (uses the replacement_character)
replace_hostname = True

# reverse hostname
# if you have:
# host.datacenter.company.tld
# as your nagios hostname you may prefer to have your metric stored as:
# tld.company.datacenter.host
reverse_hostname = False

#------------------------------------------------------------------------------
# Carbon Details (comment out if not using carbon)
#------------------------------------------------------------------------------

enable_carbon = False

# Defaults to using the pickle protocol. Set to True to use the plaintext protocol.
carbon_plaintext = False

# Comma separated list of carbon server IP:Port 's
carbon_servers = 127.0.0.1:2004

# The max amount of metrics to send to the carbon server at a time (def:200)
#carbon_max_metrics = 200

#flag the carbon backend as 'non essential' for the purposes of error checking
#nerf_carbon = False

#------------------------------------------------------------------------------
# Statsd Details (comment in if you are using statsd)
#------------------------------------------------------------------------------

enable_statsd = False

# Comma separated list of statsd server IP:Port 's
statsd_servers = 127.0.0.1:8125

#flag the statsd backend as 'non essential' for the purposes of error checking
#nerf_statsd = False

#------------------------------------------------------------------------------
# librato Details (comment in if you are using librato)
#------------------------------------------------------------------------------

enable_librato = False

# your (required) librato credentials here:
#librato_email = <your email>
#librato_token = <your api token>

#### ZOMG SUPER IMPORTANT SETTING THAT WILL SAVE YOU MONEY #####
# json-formmated RE patterns that match the names of metrics you want to emit
# to Librato the default list is [".*"] (send everything).
# Example:
# librato_whitelist = ["load","rta","swap"]
librato_whitelist = [".*"]

#OPTIONAL BELOW HERE, LEAVE COMMENTED UNLESS YOU REALLY WANT IT CHANGED

# floor_time_secs: Floor samples to this time (set to graphios sleep_time)
#librato_floor_time_secs = 15

# comma separated list of Nagios Macros we use to construct the metric name:
# librato_namevals = GRAPHITEPREFIX,SERVICEDESC,GRAPHITEPOSTFIX,LABEL

# comma separated list of Nagios Macros we use to construct the source value :
# librato_sourcevals = HOSTNAME

#flag the librato backend as 'non essential' for the purposes of error checking
#nerf_librato = False

#------------------------------------------------------------------------------
# InfluxDB Details (comment in if you are using InfluxDB 0.8)
#------------------------------------------------------------------------------

enable_influxdb = False

# Comma separated list of server:ports
# defaults to 127.0.0.1:8086 (:8087 if using SSL).
#influxdb_servers = 127.0.0.1:8087

# SSL, defaults to False
#influxdb_use_ssl = True

# Database-name, defaults to nagios
#influxdb_db = <your influxdb-database>

# Credentials (required)
#influxdb_user = <your username>
#influxdb_password = <your password>

# Max metrics to send / request, defaults to 250
#influxdb_max_metrics = 500

# Flag the InfluxDB backend as 'non essential' for the purposes of error checking
#nerf_influxdb = False

#------------------------------------------------------------------------------
# InfluxDB Details (uncomment if you are using InfluxDB 0.9)
# This will work a bit differently because of the addition of tags in 
# InfluxDB 0.9.  Now the metric will be named after the service description,
# the perfdata field will be a tag, and the host name will be a tag.  The value of
# the metric is stored in the 'value' column.
#------------------------------------------------------------------------------

enable_influxdb09 = True

# Comma separated list of server:ports
# defaults to 127.0.0.1:8086 (:8087 if using SSL).

# SSL, defaults to False
#influxdb_use_ssl = True

# Database-name, defaults to nagios
#influxdb_db = <your influxdb-database>

# Credentials (required)
influxdb_user = root
influxdb_password = root

# Max metrics to send / request, defaults to 250
influxdb_max_metrics = 20000

# Extra tags to add to metrics, like data center location etc.
influxdb_extra_tags = {"location": "la"}

# Flag the InfluxDB backend as 'non essential' for the purposes of error checking
#nerf_influxdb = False

#------------------------------------------------------------------------------
# STDOUT Details (comment in if you are using STDOUT)
#------------------------------------------------------------------------------

#comment the line below to disable the STDOUT sender
enable_stdout = False

#flag the stdout backend as 'non essential' for the purposes of error checking
nerf_stdout = True
